@page "/"
@using BethanysPieShopHRM.App
@using Microsoft.AspNetCore.Authentication
@using System.Globalization

@namespace BethanysPieShopHRM.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BethanysPieShopHRM.Server</title>
    <base href="~/" />

    <link href="_content/BethanysPieShopHRM.App/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/BethanysPieShopHRM.App/css/app.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/273d0585ea.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <link href="_content/BethanysPieShopHRM.ComponentsLibrary/leaflet/leaflet.css" rel="stylesheet" />
</head>
<body>
    @{
        var initialTokenState = new BethanysPieShopHRM.App.Services.InitialApplicationState
        {
            XsrfToken = Xsrf.GetAndStoreTokens(HttpContext).RequestToken,
            AccessToken = await HttpContext.GetTokenAsync("access_token"),
            RefreshToken = await HttpContext.GetTokenAsync("refresh_token")

        };

        var expiresAt = await HttpContext.GetTokenAsync("expires_at");
        if (DateTimeOffset.TryParse(expiresAt,
            CultureInfo.InvariantCulture,
            DateTimeStyles.None,
            out var expiration))
        {
            initialTokenState.ExpiresAt = expiration;
        }
        else
        {
            initialTokenState.ExpiresAt = DateTimeOffset.UtcNow;
        }

    }

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered"
                   param-InitialState="initialTokenState" />
    </app>



    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script src="_content/BethanysPieShopHRM.ComponentsLibrary/leaflet/leaflet.js"></script>
    <script src="_content/BethanysPieShopHRM.ComponentsLibrary/deliveryMap.js"></script>
</body>
</html>
